* {
    box-sizing: border-box;
  }
  img {
    width: 300px;
    height: 250px;
  }
  section {
    /* float: left; */
  }
  h1 {
    text-align: center;
    font-size: 2em;
    margin: 1em;
    font-weight: bold;
    font-family: 'Lobster', cursive;
  }
  body {
    background-color: thistle;
    padding: 1em;
  }
  #photo-gallery {
    background: teal;
    margin: 0 auto;
    max-width: 928px;
  }
  #photo-gallery:after {
    content: "";
    display: table;
    clear: both;
  }
  .title h3 {
    text-align: center;
    margin: 0.25em;
    font-size: 1.25em;
    font-weight: bold;
  }
  .description p {
    text-align: center;
    margin: 0.25em;
  }
  header {
      width: 928px;
      margin: 0 auto;
  }
  .creatureImage {
    /* width: 29.76%; */
    padding: 1em;
    margin: 1em;
    background-color: whitesmoke;
    /* float: left; */
  }
  footer {
    text-align: center;
    /* float: left; */
    clear: both;
  }
      
  #filter-sort-search {
    text-align: center;
    padding-bottom: 1em;
  }	
  #filter-sort-search section {
    text-align: center;
    padding-bottom: 1em;
  }